[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flet = "*"
psutil = "*"
pystray = "*"
pillow = "*"

[dev-packages]
nuitka = "*"

[requires]
python_version = "3.10"
